body {
    font-family: "Lato", sans-serif;
    /*background-color: #d5eee8;*/ /*
    background-color: #F6FFFB;*/
}

nav {
    background-color: #000080;
    /*background-color: #111525;*/
    /*background-color: white;*/
    font-weight: 500;
}

footer {
    background-color: #000080;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

/*ABOUT US START*/

.Us {
    border-image: 3px solid #555;
}

/*ABOUT US END*/


/*.card-body {
    background: #396afc;*/ /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #2948ff, #396afc);*/ /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #2948ff, #396afc);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*}*/
